body {
background-color:white;
}

/*navbar*/
.topnav {
  width: 100%;
  left: -5px;
  overflow: hidden;
  background: transparent;
  position: fixed;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: green;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

 .bio {
 top: 0px;
 position: relative;
 height: auto;
 width: 100%;
 justify-content: space-between;
 }
 
 :root {
 --container-color: #1a1e21;
 --second-color: #fd8f44;
 --text-color: #172317;
 --bg-color: #fff;
 }
 
 
 .bi {
 margin-top: 10px;
 }
 
 .bi h4{
 margin: 0 20px;
 font-size: 20px;
 font-weight: 700;
 color: #7f92b0;
 }
 
 .bi h1 {
 font-size: 40px;
 color: #344161;
 margin: 20px 20px;
 }
 
 .text {
 background: linear-gradient(320deg, #0ea5ea, #0bd1d1 51%, #0ea5ea) var(--x, 0)/200%;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 }
 
 .blink {
 border-left: 4px solid #344161;
 margin-left: 15px;
 animation: blink 1s infinite;
 }
 
 @keyframes blink {
 0% {
 opacity: 0;
 }
 
 100% {
 opacity: 1;
 }
 }
 
 .bi .t {
 width: 65%;
 margin: 15px 20px;
 font-size: 14px;
 color: #7f92b0;
 line-height: 24px;
 }
 
 .form {
 height: 1cm;
 width: 60%;
 background: linear-gradient(#e9eef5, #e9eef5) padding-box, linear-gradient(90deg, #e9eef5, #e9eef5) border-box;
 border-radius: 8px;
 padding: 10px 10px 10px 20px;
 margin: 40px 0;
 background-color: #e9eef5;
 border: 1px solid transparent;
 }
 
.van {
width: 60%;
 font-size: 14px;
 border: 0;
 outline: 0;
 background: transparent;
 font-family: 'Noto Sans', sans-serif;
 }
 
.form button {
 float: left;
 color: #0ea5ea;
 font-size: 18px;
 border: none;
 cursor: pointer;
 font-weight: 600;
 border-radius: 6px;
 margin: -20px 250px;
 padding: 10px 16px;
 perspective: 3rem;
 background: transparent;
 background-color: transparent;
 }
 
.a {
color: blue;
 text-decoration: none;
 }
 
 .form button::before {
 content: "";
 z-index: -1;
 display: block;
 border-radius: 6px;
 position: absolute;
 background: linear-gradient(320deg, #0ea5ea, #0bd1d1 51%, #0ea5ea) var(--x, 0)/200%;
  }
  
  .oem .ime {
   top: -22px;
  float: right;
  width: 240px;
  position: relative;
  transition: all 0.3s ease 0s;
  }
  
  .image-slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
  }
  
  .img {
  width: 100%
  }
  
  .fade {
  animation-name: fade;
  animation-duration: 2s;
  }
  
  @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  .you {
  color: #03e9f4;
  font-size: 17px;
  font-weight: bold;
  font-family: monospace;
  text-decoration: none;
  }
  
.put {
top: 2.5cm;
position: relative;
}
  
  .ot {
  color: #d6d6d6;
  font-size: 25pxx;
   left: 30px;
  letter-spacing: 3px;
  font-family:fantasy;

  }
  
  .to {
  font-size:14px;
  color: lightgreen;
  margin: 40px 2px;
  font-family: sans-serif;
  }
  
  .topo { 
  --offset: 50px; 
  position: sticky; 
  bottom: 20px; 
  margin-left: 12cm; 
  place-self: end; 
  margin-top: calc(100vh + var(--offset)); /* visual styling */ 
  text-decoration: none; 
  padding: 10px; 
  font-family: sans-serif; 
  color: #fff; 
  background: #000; 
  border-radius: 100px; 
  white-space: nowrap; 
  } 
 
 .haha {
 position: relative;
 top: 3cm;
 }
 
 .yo {
 font-size: 18px;
 font-family:Courier new,monospace;
 letter-spacing: 1px;
 text-decoration: none;
 }
 
 .ate {
 top: 70px;
 position: relative;
 color: blue;
 font-size: 25px;
 letter-spacing: 3px;
 font-family: Tahoma,Arial,sans-serif;
 
 }
 
.adde {
margin: 140px 20px;
position: relative;
}

.adee {
top: -298px;
float: right;
position: relative;
}

.deed, .ddt, .ddf, .ddy, .dro, .drd{
  font-size: 12px;
color: #e74c3c;
}

.adue {
margin: -100px 20px;
position: relative;
}

.adge {
float: right;
margin: -140px -280px;
position: relative;
}

.ade1 {
margin: 150px 18px;
position: relative;
}

.ade2 {
float: right;
margin: -405px 0;
position: relative;
}

.Kate {
color: #03e9f4;
font-size: 28px;
font-family:Courier new,monospace;
}

.log {
color: #f06292;
font-size: 28px;
font-family:Courier new,monospace;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 50px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

.buy {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.buy:hover {
  opacity:1;
}

.io {
font-size: 17px;
font-family:monospace;
}

.am {
  top: 10px;
color: grey;
text-decoration: none;
  position: relative;
letter-spacing: 0.4px;
}

ul {
font-size: 17px;
color: blue;
}
