#faf {
text-decoration: none;
color: green;
font-size: 40px;
font-family:Courier new,monospace;
}

.table {
top: 70px;
position: relative;
}

.dea {
color: #03e9f4;
top: 60px;
position: relative;
}

.ray {
top: 80px;
color:green;
left: 3px;
position: relative;
font-family:Tahoma,Arial,sans-serif;
letter-spacing: 3px;
/*
  border: thin solid rgb(80 80 80);
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  text-align: center;
  margin: 0 0.2rem;

  min-width: 1rem;*/

}

.ry {
font-size: 20px;
color: #e74c3c;
top: 60px;
position: relative;
font-family:Verdana,Arial,sans-serif;
}